.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div{
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  color: #2867B2;
  text-decoration: none;
}
body{
  background-color: light grey;
}
.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.navbar-menu a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navbar-menu a:hover {
  color: #2867B2;
}
.main-container{
  display:flex;
  flex-direction:column;
  width:100vw;
  align-items:center;
  justify-content: space-around;
}
.details-container{
  width:30%;
  background-color: lightblue;
  border-radius: 3%;
}
img{
  width:100%;
  height:50%;
}
.profile{
  width:50%;
  height:30rem;
  background-color:lightgoldenrodyellow;
  border-radius: 3%;
}
.profile-picture{
  border-radius:50%;
  height:60%;
  width:15%;
  background-color:darkgrey;
  z-index:1;
  position:absolute;
  bottom:94%;
}
.profile-head{
  height:50%;
  position:relative;
}