{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>LinkedIn Profile</title>
    <link rel="stylesheet" href="{% static 'login/homepage.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-logo" href="#">LinkedIn</a>
        <ul class="navbar-menu">
        <li><a href="#">Articles</a></li>
        <li><a href="#">People</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href={% url 'logout' %}>Logout</a></li>
        </ul>
    </div>
</nav>
<div class="main-container">
    <div class="profile">
      <img src="{% static 'images/base_wall.jpeg' %}" class="im">
      <div class="profile-head">
        <div class="profile-picture"></div>
          <h1>{{ user.first_name }} {{ user.last_name }}</h1>
          <h3>{{ user.headline }}</h3>
          <p>{{ user.location }}</p>
          <p>{{ user.summary }}</p>
      </div>
    </div>

    <div class="details-container">
        <h2>Experience</h2>
        {% for experience in user.experiences %}
            <h4>{{ experience.title }}</h4>
            <p>{{ experience.company }}</p>
            <p>{{ experience.start_date }} - {{ experience.end_date }}</p>
            <p>{{ experience.description }}</p>
        {% empty %}
            <p>No experiences to display.</p>
        {% endfor %}
    </div>

    <div class="details-container">
        <h2>Education</h2>
        {% for education in user.educations %}
            <h4>{{ education.degree }}</h4>
            <p>{{ education.school }}</p>
            <p>{{ education.start_date }} - {{ education.end_date }}</p>
            <p>{{ education.field_of_study }}</p>
        {% empty %}
            <p>No education information available.</p>
        {% endfor %}
    </div>

    <div class="details-container">
        <h2>Skills</h2>
        <ul>
            {% for skill in user.skills %}
                <li>{{ skill }}</li>
            {% empty %}
                <p>No skills to display.</p>
            {% endfor %}
        </ul>
    </div>

    <div class="details-container">
        <h2>Projects</h2>
        {% for project in user.projects %}
            <h4>{{ project.title }}</h4>
            <p>{{ project.description }}</p>
        {% empty %}
            <p>No projects to display.</p>
        {% endfor %}
    </div>
  </div>
</body>
</html>