{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="{% static 'login/register.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <img class="navbar-logo" href="{% static 'images/logo.png' %}">
            <ul class="navbar-menu">
            <li><a href="#">Articles</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href={% url 'login' %}>Sign In</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
  <div class="container">
    <h2>Welcome to LinkedIn</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Username:</label>
        {{ user_form.username }}
        {% for error in form.username.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="id_first_name">First Name:</label>
        {{ user_form.first_name }}
        {% for error in form.first_name.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="id_last_name">Last Name:</label>
        {{ user_form.last_name }}
        {% for error in form.last_name.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="id_email">Email:</label>
        {{ user_form.email }}
        {% for error in form.email.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="id_password">Password:</label>
        {{ user_form.password }}
        {% for error in form.password.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="id_password2">Repeat Password:</label>
        {{ user_form.password2 }}
        {% for error in form.password2.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
</body>
</html>